*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside {display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border: 0;}
a, a :visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0;}
input[type='number'] {-moz-appearance:textfield;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

body{
    background-color: #e8e8e8;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.content-top {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    padding: 123px 0px 0px 490px;
    margin-bottom: 137px;
}
.content-h1 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
}
.content-lists {
    color: #273d46;
}
.content-lists li::before{
    content: url("check_icon_37.png");
    padding: 0px 5px 0px 0px;
}
.content-list-top {
    margin: 0px 0px 81px 0px;

}
.content-list-top li:nth-child(1){
    text-decoration: line-through;
}
.content-list-top li:nth-child(2){
    font-weight: 700;
}
.content-list-top li:nth-child(3){
    font-style: italic;
}
.content-list-top li:nth-child(4){
    text-transform: uppercase;
}
.content-list-bottom li:nth-child(2):hover{
    color: #d55a5a;
}
.content-addinfo {
    margin: -105px 0px 0px -429px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
}
.content-bottom {
    padding: 0px 0px 0px 490px;
    line-height: 40px;
}
.content-bottom-form {
    display: inline-block;
    margin: 0px 0px 95px 0px;
}
.content-bottom-form-button span{
    font-size: 10px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: #ffffff;
}
.content-bottom-form-button button::after{
    content: url(shape_2_9.png);
    background-position: center;
    padding: 0px 5px 0px 0px;
}
.content-bottom-form button:nth-child(3):hover{
    box-shadow: 0px 5px 5px #000;
}
.content-bottom-form button:nth-child(2):active{
    color: yellow;
    background-color: black;
}
.content-bottom-form button{
    display: inline-block;
    border-radius: 30px;
    width: 149px;
    height: 44px;
    margin: 0px 57px 0px 0px;
}
.content-bottom-form button:nth-child(1){
    background-color:  rgba(11, 249, 233, 0.54);
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
        
}
.content-bottom-form-input{
    padding-bottom: 100px;
}
.content-bottom-form-button a{
    color:#ffffff;
}
.content-bottom-form button:nth-child(2){
    background-color: #3a5856;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
}
.content-bottom-form button:nth-child(3){
    background-color: #818181;
}
.content-bottom-form-input input:nth-child(1){
    width: 234px;
    height: 42px;
    border: 1px solid #b0b0b0;
    margin: 0px 78px 0px 0px;
}
.content-bottom-form-input input:nth-child(2){
    width: 234px;
    height: 42px;
    border: 1px solid #7fbed5;
    box-shadow: 0px 0px 20px -1px rgba(127,190,213,0.93);
}
.content-bottom-form-text{
    text-align: 0 50%;
    padding-left: 320px;
    font-size: 14px;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
}
.content-bottom-form-button-text{
    display: inline-block;
    width: 500px;
    padding-left: 225px;
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
}
.content-bottom-form-button-text .text1{
    margin: 0px 90px 0px 0px;
}
.content-bottom-extended-text{
    width: 600px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;   
    color: #000000;
}
.content-bottom-extended-text::first-line{
    color: #ff0000;
}
.content-bottom-extended-text-1{
    margin:0px 0px 43px 0px;
}
.content-bottom-extended-text-2::first-letter{  
    font-size: 25px;
    line-height: 28px;
    font-weight: 400;
    color: #ff0000;
}
